body {
  background-color: rgb(241, 241, 241);
}

img {
  display: block;
  margin: 5em auto 0;
}

h1 {
  font-size: 6.6em;
  font-family: 'AvenirNext-Heavy';
  color: rgb(27, 177, 207);
  text-align: center;
  margin: 0;
}